<ion-header>
    <ion-button color="dark" fill="clear"> 
        <ion-icon color="dark" slot="start" name="close-outline"  (click)="close()"></ion-icon>
        Close
    </ion-button>
</ion-header>
<ion-content>
  <ion-card>
    <ion-row>
      <ion-col col-4></ion-col>
      <ion-col col-4>
        <img class="ion-text-center" src="./assets/icon/cracker.png" />
      </ion-col>
      <ion-col col-4></ion-col>
    </ion-row>
    <ion-card-header>
      <ion-card-subtitle>Movie: Generic Horror Film</ion-card-subtitle>
      <ion-card-title>
        Congratulations you have successfully watched till the end!
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-text color="dark" class="ion-text-center">
        <h4>Your highest measured pulse during the movie was</h4>
        <p>94</p>
      </ion-text>
      <div class="spacer"></div>
      <ion-button color="dark" expand="block" fill="outline">
        <ion-icon color="dark" slot="start" name="share-outline"></ion-icon>
        Share
      </ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
