<ion-header>
  <ion-toolbar>
    <ion-title>Horror Movie</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col class="video-col ion-align-self-center">
        <video controls webkit-playsinline class="fill-width" #video>
          <source src="{{videoPath}}" type="video/webm" />
          <source src="{{videoPath}}" type="video/mp4" />
          <source src="{{videoPath}}" type="video/ogg" />
          Your browser does not support HTML5 video.
        </video>
        <p class="subtitles">{{currentSub}}</p>
        <p><ion-button size="large" color="danger">Panik</ion-button></p>
        <!-- Füge Roten Panik Button ein -->
      </ion-col>
      <ion-col size="2" class="button-col ion-align-self-center">
        <ion-grid>
          <ion-row>
            <ion-col class="ion-align-self-center">
              <h2>Prototyp Adviser</h2>
              <p>User do not see this.</p>
            </ion-col>
          </ion-row>
          <ion-row>
            <!--           <ng-container *ngIf="videoPaused; else elseTemplate">
            <ion-button (click)="stopVideo()">Pause</ion-button>
          </ng-container>
          <ng-template #elseTemplate>
            <ion-button (click)="playVideo()">Play</ion-button>
          </ng-template> -->
            <ion-col class="ion-align-self-center">
              <ion-button (click)="playVideo()">Play</ion-button>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col class="ion-align-self-center">
              <p><span>Volume: </span> <span>{{volume}}</span></p>
              <ion-buttons>
                <ion-button (click)="changeVolume(-1)">
                  <ion-icon name="remove"></ion-icon>
                </ion-button>
                <ion-button (click)="changeVolume(1)">
                  <ion-icon name="add"></ion-icon>
                </ion-button>
              </ion-buttons>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col class="ion-align-self-center">
              <ion-button (click)="muteVideo()">2. Mute</ion-button>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="ion-align-self-center">
              <ion-button (click)="showSubtitles()"
                >3. Show Subtitles</ion-button
              >
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="ion-align-self-center">
              <ion-button (click)="stopVideo()">4. Pause</ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
