<ion-header>
  <ion-toolbar>
    <ion-title>Horror Movie</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col class="video-col ion-align-self-center">
        <video
          [hidden]="videoIsBlanked"
          controls
          webkit-playsinline
          class="fill-width"
          #video
        >
          <source src="{{videoPath}}" type="video/webm" />
          <source src="{{videoPath}}" type="video/mp4" />
          <source src="{{videoPath}}" type="video/ogg" />
          Your browser does not support HTML5 video.
        </video>
        <!-- Beginn Blank Smiley -->
        <div [hidden]="!videoIsBlanked">
          <h2>Video ausgeblendet</h2>
          <img
            width="720"
            src="./assets/icon/fa0cb986-69a4-4d37-8c03-7228b9652416.svg"
          />
          <a href="https://dryicons.com/icon/flat-dead-emoticon-icon-8922">
            Icon by Dryicons
          </a>
          <ion-buttons>
            <ion-button (click)="blankVideo()">
              <ion-icon name="play"></ion-icon>
            </ion-button>
            <ion-button (click)="stopVideo()">
              <ion-icon name="Pause"> </ion-icon>
            </ion-button>
            <ion-button [disabled]="true">
              <span>Volume: </span> <span>{{volume}}</span>
            </ion-button>
            <ion-button (click)="changeVolume(-1)">
              <ion-icon name="remove"></ion-icon>
            </ion-button>
            <ion-button (click)="changeVolume(1)">
              <ion-icon name="add"></ion-icon>
            </ion-button>
          </ion-buttons>
        </div>
        <p class="subtitles">{{currentSub}}</p>
        <!-- Panik Button -->
        <p><ion-button size="large" color="danger" (click)="skipScene()">Panik</ion-button></p>
      </ion-col>

      <!-- Begin Button Colum Grid -->
      <ion-col size="2" class="button-col ion-align-self-center">
        <ion-grid>
          <ion-row>
            <ion-col class="ion-align-self-center">
              <h2>Prototyp Adviser</h2>
              <p>User does not see this.</p>
            </ion-col>
          </ion-row>
          <!--           <ion-row>
            <ion-col class="ion-align-self-center">
              <ng-container *ngIf="videoPaused; else elseTemplate">
                <ion-button (click)="stopVideo()">Pause</ion-button>
              </ng-container>
              <ng-template #elseTemplate>
                <ion-button (click)="playVideo()">Play</ion-button>
              </ng-template>
            </ion-col>
          </ion-row> -->

          <ion-row>
            <ion-col class="ion-align-self-center">
              <p><span>1. Volume: </span> <span>{{volume}}</span></p>
              <!--<ion-item>
                 <ion-range min="0" max="1" step="0.05" onchange="">
                  <ion-icon slot="start" name="volume-low-outline"></ion-icon>
                  <ion-icon slot="end" name="volume-high-outline"></ion-icon>
                </ion-range>
              </ion-item> -->
              <ion-button (click)="changeVolume(-1)">
                <ion-icon name="remove"></ion-icon>
              </ion-button>
              <ion-button (click)="changeVolume(1)">
                <ion-icon name="add"></ion-icon>
              </ion-button>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col class="ion-align-self-center">
              <ion-button (click)="muteVideo()">2. Mute</ion-button>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="ion-align-self-center">
              <ion-button (click)="showSubtitles()"
                >3. Show Subtitles</ion-button
              >
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="ion-align-self-center">
              <ion-button (click)="blankVideo()">4. Blank Video</ion-button>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="ion-align-self-center">
              <ion-button (click)="stopVideo()">5. Pause</ion-button>
              <ion-button (click)="playVideo()">Play</ion-button>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="ion-align-self-center">
              <ion-button (click)="skipScene()">6. Next Skip</ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
