/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";




.video-col > div:nth-child(2) {
  width: 100%;
  height: calc(100% - 125px);
  overflow: hidden;
  position: absolute;
  z-index: 2;
  top: 0;
  background-color: #fff;
}

.subtitles {
	position: relative;
	top: -90px;
	left: 0;
	color: #fff;
	padding-left: 20px;
	font-size: 20px;
	height: 0;
	text-align: center;
}
.subtitles-smiley{
  color: #000;
  top: -250px;
  z-index: 40;
}

.smiley {
  display: flex;
  height: 484px;
  background-color: #fff;
  &+.sc-ion-buttons-md-h{
   margin-top: 34px;
  }
}

.video-col .smiley > img {
  max-height: 250px;
  width: 100%;
  margin-top: 50px;
}
