<ion-header>
  <ion-toolbar>
    <ion-title>Wie viel willst du aushalten?</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid fixed>
    <ion-row>
      <ion-col col-4></ion-col>
      <ion-col col-4>
        <img src="./assets/Logo_EmoteControl.png" />
      </ion-col>
      <ion-col col-4></ion-col>
    </ion-row>
    <ion-row *ngFor="let item of items">
      <ion-col>
        <ion-button
          (click)="onClick()"
          expand="block"
          fill="solid"
          color="light"
        >
          {{ item }}
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row class="free-space">
      <ion-col> </ion-col>
    </ion-row>
    <!-- Low Level Buttons -->
    <ion-row>
      <ion-col>
        <ion-button
          (click)="changeControlLevel()"
          expand="block"
          fill="clear"
          color="medium"
        >
          {{controlLevel}}
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button
          (click)="onClick()"
          expand="block"
          fill="clear"
          color="medium"
        >
          Orginal Film
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button
          href="/calibration"
          expand="block"
          fill="clear"
          color="medium"
        >
          Calibration Film
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
