<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Home </ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content [fullscreen]="true">
<!--   <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong>Ready to watch Horror movie?</strong>
    <p><ion-button href="/movie">Navigate to Movie</ion-button></p>
  </div> -->
   <img (click)="navigateMovie()"src="./assets/EMOTEFILM_Startseite.png" />
</ion-content>
